.splide {
  $root: &;

  &--rtl {
    direction: rtl;
  }

  &--ttb {
    > #{$root}__track {
      > #{$root}__list {
        display: block;
      }
    }
  }

  &--draggable {
    > #{$root}__track {
      > #{$root}__list {
        > #{$root}__slide {
          user-select: none;
        }
      }
    }
  }

  &--fade {
    > #{$root}__track {
      > #{$root}__list {
        display: block;

        > #{$root}__slide {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          opacity: 0;

          &.is-active {
            position: relative;
            z-index: 1;
            opacity: 1;
          }
        }
      }
    }
  }
}