.splide {
  $root: &;

  position: relative;
  visibility: hidden;

  &__track {
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  &__list {
    display: flex;
  }

  &__slide {
    position: relative;

    &.is-loading {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.is-active {
      box-shadow: 0 0 3px 3px blue;
    }

    img {
      vertical-align: bottom;
    }
  }

  &__spinner {
    display: inline-block;
    width: $spinner-size;
    height: $spinner-size;
    border-radius: 50%;
    border: 2px solid #999;
    border-left-color: transparent;

    animation: splide-loading 1s infinite linear;
  }

  &__pagination {
    display: inline-flex;
    align-items: center;

    li {
      display: inline-flex;
    }

    &__page {
      &.is-active {
      }
    }
  }

  &__progress {
    &__bar {
    }
  }

  &__sr {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
}