.splide {
  &__arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY( -50% );
    width: $arrow-button-size;
    height: $arrow-button-size;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    opacity: .7;
    background: #ccc;

    svg {
      width: $arrow-size;
    }

    &:hover {
      cursor: pointer;
      opacity: .9;
    }

    &:focus {
      outline: none;
    }

    &--prev {
      left: 1em;

      svg {
        transform: scaleX( -1 );
      }
    }

    &--next {
      right: 1em;
    }
  }

  &__pagination {
    position: absolute;
    bottom: .5em;
    left: 50%;
    transform: translateX( -50% );
    padding: 0;

    &__page {
      display: inline-block;
      width: $dot-size;
      height: $dot-size;
      background: #ccc;
      border-radius: 50%;
      margin: 3px;
      padding: 0;
      transition: transfrom .2s linear;
      border: none;
      opacity: .7;

      &.is-active {
        transform: scale( 1.4 );
        background: white;
      }

      &:hover {
        cursor: pointer;
        opacity: .9;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__progress {
    &__bar {
      width: 0;
      height: $progress-bar-height;
      background: #ccc;
    }
  }
}