body {
  background: linear-gradient( 0deg, #8cde1d, #c0e900 );
  color: #d7e9f5;
  font-family: SplideBody, sans-serif;
  font-weight: normal;
  height: 200vh;
  line-height: 1.8;
  overflow-x: hidden;
  padding: 2rem;
}

img {
  height: auto;
  width: 100%;
}

p {
  margin: 0 0 1em;
}

cite {
  font-size: .8em;
  font-style: normal;
  opacity: .7;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.splide {
  &__track {
    height: 100%;
  }

  &__slide {
    height: 100%;
    padding: 2rem 1rem;

    &:focus-visible {
      outline: #fff dotted 3px !important;
    }

    &__inner {
      background: #000;
      border-radius: 10px;
      height: 100%;
      opacity: 0;
      overflow: hidden;
      transform: scale( .8 );
      transition: all .5s cubic-bezier( .17, .67, .44, 1 );
    }

    &.is-active {
      .splide__slide__inner {
        box-shadow: 0 0 15px 4px rgba( 0, 0, 0, .25 );
        opacity: 1;
        transform: scale( 1 );
      }
    }
  }

  &__heading {
    color: #fff;
    font-family: SplideHeading, sans-serif;
    font-size: 2rem;
    line-height: 1;
    margin: 0;
    padding: 1rem 1.5rem .5rem;
  }

  &__desc {
    margin: 0;
    padding: .5rem 1.5rem 3rem;
  }

  &__arrow {
    background: transparent;
    border-radius: 0;
    height: 2rem;
    opacity: 1;
    width: 2rem;

    &:focus-visible {
      outline: #fff dotted 3px !important;
    }

    svg {
      fill: none;
      height: 2rem;
      stroke: #fff;
      stroke-linecap: square;
      stroke-width: 8px;
      vertical-align: middle;
      width: 2rem;
    }

    &--prev {
      left: -2.7rem;
    }

    &--next {
      right: -2.7rem;
    }
  }

  &__pagination {
    bottom: 3rem;

    &__page {
      background: #d7e9f5;
      height: 10px;
      width: 10px;

      &.is-active {
        background: #8cde1d;
        opacity: 1;
      }
    }
  }
}
