.splide {
  &__pagination {
    display: inline-flex;
    align-items: center;

    li {
      list-style-type: none;
      display: inline-block;
      line-height: 1;
      margin: 0;
    }

    &__page {
      &.is-active {
      }
    }
  }
}