.splide {
  $root: &;

  &__list {
    position: relative;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  &.is-active {
    #{ $root }__list {
      display: flex;
    }
  }
}
