@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200..700&display=swap');

body {
  color: #3d4b56;
  font-family: Inter, sans-serif;
  margin: 2rem;
}

h2 {
  margin-top: 6rem;
  text-align: center;
}

.splide {
  $root: &;
  margin: 2rem auto;

  &__slide {
    align-items: center;
    background: #ecf3fa;
    display: flex;
    font-size: 2rem;
    justify-content: center;

    &.is-active {
      background: #e1e9f3;
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

.controls {
  text-align: center;
}
