body {
  background: linear-gradient(0deg, #8cde1d, #c0e900);
  height: 200vh;
  font-family: SplideBody, sans-serif;
  padding: 2rem;
  color: #d7e9f5;
  line-height: 1.8;
  font-weight: normal;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 0 0 1em 0;
}

cite {
  font-size: .8em;
  font-style: normal;
  opacity: .7;
}

.wrapper {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.splide__track {
  height: 100%;
}

.splide__slide {
  padding: 2rem 1rem;
  height: 100%;
}

.splide__slide__inner {
  background: #000;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  transform: scale(.8);
  opacity: 0;
  transition: all .5s cubic-bezier(.17, .67, .44, 1);
}

.splide__slide.is-active .splide__slide__inner {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, .25);
  transform: scale(1);
  opacity: 1;
}

.splide__heading {
  font-family: SplideHeading, sans-serif;
  color: #fff;
  margin: 0;
  padding: 1rem 1.5rem .5rem;
  font-size: 2rem;
  line-height: 1;
}

.splide__desc {
  margin: 0;
  padding: .5rem 1.5rem 3rem;
}

.splide__arrow {
  background: transparent;
  opacity: 1;
  width: 2rem;
  height: 2rem;
  border-radius: 0;
}

.splide__arrow svg {
  width: 2rem;
  height: 2rem;
  fill: none;
  stroke: #fff;
  stroke-linecap: square;
  stroke-width: 8px;
  vertical-align: middle;
}

.splide__arrow--prev {
  left: -2.7rem;
}

.splide__arrow--next {
  right: -2.7rem;
}

.splide__pagination {
  bottom: 3rem;
}

.splide__pagination__page {
  width: 10px;
  height: 10px;
  background: #d7e9f5;
}

.splide__pagination__page.is-active {
  background: #8cde1d;
  opacity: 1;
}

.splide__arrow:focus-visible {
  outline: #fff dotted 3px !important;
}

.splide__slide:focus-visible {
  outline: #fff dotted 3px !important;
}

